anyascii==0.1.7
appdirs==1.4.4
asgiref==3.3.1
Babel==2.9.0
beautifulsoup4==4.8.2
boto3==1.17.34
botocore==1.20.34
certifi==2020.12.5
chardet==3.0.4
colander==1.8.3
Delorean==1.0.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.12
django-appconf==1.0.4
django-compressor==2.4
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-libsass==0.8
django-modelcluster==5.1
django-storages==1.11.1
django-taggit==1.3.0
django-treebeard==4.5.1
djangorestframework==3.12.2
docutils==0.16
draftjs-exporter==2.1.7
et-xmlfile==1.0.1
futures==3.1.1
gunicorn==20.0.4
html5lib==1.1
humanize==0.5.1
idna==2.7
iso8601==0.1.11
jmespath==0.9.0
jsonfield==1.0.3
l18n==2020.6.1
libsass==0.20.1
lxml==4.6.3
mccabe==0.5.0
olefile==0.44
openpyxl==3.0.7
packaging==20.9
Pillow==8.3.2
pycodestyle==2.0.0
pyflakes==1.2.3
pyparsing==2.2.0
python-dateutil==2.8.1
pytz==2021.1
rcssmin==1.0.6
redis==2.10.5
requests==2.25.1
rjsmin==1.1.0
s3transfer==0.3.6
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
static3==0.7.0
tablib==3.0.0
translationstring==1.3
tzlocal==2.1
Unidecode==0.4.20
urllib3==1.26.5
wagtail==2.12.4
wagtail-blog==2.3.5
wagtailfontawesome==1.2.1
wagtailnews==2.7.1
webencodings==0.5.1
whitenoise==5.2.0
Willow==1.4
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
