Delorean==0.4.5
Django==1.7.8
Pillow==2.8.1
Unidecode==0.04.17
Willow==0.1
beautifulsoup4==4.3.2
boto==2.38.0
botocore==1.0.0rc1
colander==1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==1.0.1
django-compressor==1.5
django-debug-toolbar==1.3.0
django-libsass==0.3
django-modelcluster==0.6.2
git+https://github.com/AliLozano/django-storages-py3
django-taggit==0.12.3
django-treebeard==3.0
futures==2.2.0
gunicorn==19.3.0
html5lib==0.999
iso8601==0.1.10
jmespath==0.7.1
libsass==0.8.0
python-dateutil==2.4.2
pytz==2015.2
requests==2.7.0
six==1.9.0
sqlparse==0.1.15
static3==0.6.1
translationstring==1.3
wagtail==1.0b1
wagtail-blog==1.4.5
wagtailnews==0.3.0
whitenoise==1.0.6
