beautifulsoup4
boto
botocore
colander
Delorean
dj-database-url
dj-static
Django
django-appconf
django-compressor
django-debug-toolbar
django-libsass
git+https://github.com/AliLozano/django-storages-py3
django-treebeard
futures
gunicorn
html5lib
iso8601
jmespath
jsonfield
libsass
Pillow
python-dateutil
pytz
redis
requests
six
sqlparse
static3
translationstring
Unidecode
wagtail-blog
wagtailnews
whitenoise
Willow
django-modelcluster
django-taggit
djangorestframework
wagtail
wagtailfontawesome
