{% load wagtailcore_tags %}
{% load core_tags %}

<nav class="navbar navbar-default container" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {# <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>#}
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            {% root_page as homepage %}
            <li><a href="{% pageurl homepage %}">Home</a></li>

            {% for item in homepage.get_descendants.live.in_menu %}
                {%  if item.get_descendants.live.in_menu %}
                    {# We're in a dropdown #}
                    <li class="dropdown">
                        <a href="{% pageurl item %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% pageurl item %}">{{ item }}</a></li>
                            {% for sub_item in item.get_children %}
                            <li><a href="{% pageurl sub_item %}">{{ sub_item }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% pageurl item  %}">{{ item }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
