{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static core_tags speaker_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row well">
            <div class="col-md-12">
                <div class="row">
                    <div class="well clearfix">
                        <h2>{{ self.name }}</h2>
                        {% speaker_picture self %}
                        <br />
                        {{ self.biography }}
                        <table>
                            <thead>
                            <tr>
                                <th>Session</th>
                                <th>When</th>
                                <th>Duration</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for session in self.sessions.all %}
                                <tr>
                                    <td>
                                        <a href="{% pageurl session %}">{{ session.name }}</a>
                                    </td>
                                    <td>{{ session.scheduled_at }}</td>
                                    <td>{{ session.duration }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
