{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static core_tags speaker_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row well">
            <div class="col-md-12">
                <div class="row">
                    <div class="well clearfix">
                        <a id="talklist"></a>
                        <div class="panel-heading">
                            <h3 class="text-center">
                                <span class="glyphicon glyphicon-star"></span> PyCon
                                                                               Ireland
                                                                               2022
                                                                               Talks
                                <span class="glyphicon glyphicon-star"></span></h3>
                        </div>
                        <table class="table talks">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Speaker(s)</th>
                                <th>When</th>
                                <th>Duration</th>
                                <th>Where</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for session in self.sessions %}
                                <tr>
                                    <td>
                                        <a href="{% pageurl session %}">{{ session.title }}</a>
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                        {% for speaker in session.speakers.all %}
                                        <li>{% speaker_picture speaker 40 %} <a href="{% pageurl speaker %}">{{ speaker.name }}</a>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ session.scheduled_at }}</td>
                                    <td>{{ session.duration }}</td>
                                    <td>{{ session.room }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
