body {
    background: #EAEFF2;
    color: #333;
    font-size: 16px;
    font-family: "bree-serif", serif;
    font-style: normal;
    font-weight: 300; /* Bree Serif: 700 (bold), 400 (regular), 300 (light), 200 (thin); */
}
.wf-loading {
    visibility: hidden;
}

/* HEADER */
h2, h3, h4, h5, h6 {
    font-family: "bree", sans-serif;
    font-style: normal;
    font-weight: 400; /* Bree: 700 (bold), 400 (regular), 300 (light), 200 (thin) */
}
h1 {
    font-family: "bree", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.list-group img {
    width: 100%;
    max-width: 183px;
}
#header >a {
    text-decoration: none;
}
#header h1 {
    font-size: 32pt;
    text-align: left;
    word-wrap: break-word !important;
    white-space: normal;
    color: white;
}
#header h1 #pyhead {
    color: #336600;
}
#header h1 #iehead {
    color: #339900;
}
#header h1 #yearhead {
    color: #66cc33;
}
#header .well {
    margin-top: 15px;
}

#header img.logo {
    height: 50px;
}

/* END HEADER */
.sponsor-list .sponsor img {
    max-width: 140px;
    max-height: 100px;
}
.sponsor-list .sponsor {
    padding-bottom: 0.5em
}
.sponsor-list {
    list-style: none;
    padding-left: 0em;
}
.sponsor .logo {
    float: left;
    margin-right: 0.5em
}
.blog .blog-post-link {
    font-family: "bree", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
}

.thumbnail {
  padding: 4px 0;
  }
