{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row well">
            <div class="col-md-8">
                <div class="row">
                    {% for segment in self.segments_for_main %}
                        {% show_homepage_segment segment %}
                    {% endfor %}
                </div>
                {% if self.news_items %}
                    <div class="row">
                        <div class="col-md-12" id="blog">
                            {% for news_item in self.news_items %}
                                <h3>{{ news_item.title }}</h3>
                                {{ news_item.body|richtext }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% meetups %}
                <div class="row">
                    {% for segment in self.segments_for_right %}
                        {% show_homepage_segment segment %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
