{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row well">
            <div class="col-md-8">
                <div class="row">
                    <article>
                        {% for block in self.body %}
                            {% if block.block_type == 'heading' %}
                                <h3>{{ block.value }}</h3>
                            {% else %}
                                <section class="block-{{ block.block_type }}">
                                    {{ block }}
                                </section>
                            {% endif %}
                        {% endfor %}
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                {% meetups %}
                {% sponsors %}
            </div>
        </div>
    </div>

{% endblock %}
