name: Test packages
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Execute tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      DJANGO_SETTINGS_MODULE: pythonie.settings.tests
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/test_db

    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"
      - name: Install the dependencies
        run: |
          python -m pip install --upgrade pip setuptools uv
          python -m uv pip install -r requirements/main.txt -r requirements/dev.txt -r requirements/production.txt
      - name: Run the tests
        run: |
          python pythonie/manage.py test pythonie --verbosity=2
