name: Test packages
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Execute tests
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: pythonie.settings.tests
    steps:
      - uses: actions/checkout@v2
      - name: Set Up Python 3.13
        uses: actions/setup-python@v2
        with:
          python-version: "3.13"
      - name: Install the dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync
      - name: Run the tests
        run: |
          python pythonie/manage.py test pythonie --verbosity=2
